body {
  margin: 0 auto;
  background: rgb(223, 208, 208);
  max-width: 1200px;
}
input {
  height: 2em;
}
button {
  background: rgb(19, 167, 19);
  height: 2em;
  cursor: pointer;
}
.App {
  width: 80vw;
  text-align: center;
  margin: 0 auto;
}
